.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: var(--card);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.tabla th {
    background: #2D466B;
    color: white;
    padding: 12px;
}

.tabla td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tabla tr:hover {
    background: #F7F7F7;
}
